<div class="valign center-align w-100">

	<div class="p-20">
		<h1><%= I18n.t 'quota.title' %></h1>
	</div>

	<div class="p-20 description-section">
		<div><%= I18n.t 'quota.about.title' %></div>
		<hr/>
		<ol>
			<li>
				<p><%= I18n.t 'quota.about.description' %></p>
			</li>
			<li>
				<p><%= I18n.t 'quota.about.quota_bonus' %></p>
			</li>
		</ol>
	</div>

	<div class="p-20"><p></p></div>

</div>