<script>
</script>

<div class="valign center-align w-100">

	<div class="p-20">
		<h1>Tutorial</h1>
		<p>Normal mode (Known building solution)</p>
		<p>Blank mode (Most flexible solution)</p>
	</div>
	<div class="p-20">
		<p>Search your building would like to work with</p>
		<p>Name your work session</p>
		<p>Start working!</p>
		<p>Browse among floors in the building</p>
		<p>Simply switching the state of room by clicking on it</p>
		<p>Long click on a room to do advanced action</p>
		<p>Changes is auto saved. </p>
		<p>Mark session as complete if no more changes want to make</p>
		<p>can start another session</p>
	</div>

	<div class="p-20">
		<p>Most flexiable way to take note on floors</p>
		<p>Start blank session with a number of room</p>
		<p>Operations same as normal mode</p>
		<p>You can add more floor or more room at any time</p>
		<p>Changes is auto saved. </p>
	</div>

</div>